body{
  font-size: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  background-image:url(../images/pattern-background-desktop.svg);
}







/* =========
Layout
============*/
.container {
  width: 90%;
  border: 1px solid magenta;
  margin: 0 auto;
}







/* Card */
.card{
  text-align: center;
  margin: 7em auto;
}
